<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="AspMailList.Service.Properties.Settings.afonsoftcombr_dbConnectionString"
        connectionString="Data Source=mssql.afonsoft.com.br;Initial Catalog=afonsoftcombr_db;Persist Security Info=True;User ID=afonsoftcombr;Password=r5q9y6t2;Connection Lifetime=360000;Connect Timeout=360000;"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
    <system.web>
      <compilation debug="true" />
    </system.web>
</configuration>
